[Desktop Entry]
Type=Application
Name=Salama
Name[fi]=Salama
Comment=Web browser
Comment[fi]=Verkkoselain
Icon=harbour-salama
Exec=harbour-salama
X-Nemo-Application-Type=silica-qt5

[X-Sailjail]
Permissions=Internet;WebView;Audio;Downloads;Pictures;Documents
OrganizationName=io.github.muhnschein
ApplicationName=salama
